---
export const prerender = true;

import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import background from "../../assets/background.svg";
import "@/styles/globals.css";
import LeaderBoard from "@/components/Leaderboard/LeaderBoard.astro";
import type { Contest } from "@/model/contest/Contest.model";
import { get } from "@/lib/api/http";

export async function getStaticPaths() {
  let contests: Contest[];

  const contestListdata = await get(`http://localhost:5212/contest`);

  contests = await contestListdata.json();
  console.log(contests);

  return contests.map((contest) => {
    return { params: { id: contest.id } };
  });
}

const { id } = Astro.params;

let contest: Contest;

const data = await get(`http://localhost:5212/contest/${id}`);

contest = await data
  .json()
  .catch((e) => console.log("couldn't fetch contest: ", e));

// No posts found with this ID
if (!contest) {
  return Astro.redirect("/404");
}
---

<Layout>
  <img
    class="fixed top-0 left-0 w-screen h-full -z-10 blur-md"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main>
    <div>
      <div>
        <LeaderBoard contestId={contest.id} />
      </div>
    </div>
  </main>
</Layout>
