---
import CreateContestForm from "./CreateContestForm.vue";
import type { Contest } from "../model/Contest.model";
import LeaderBoard from "./Leaderboard/LeaderBoard.astro";
import { get } from "@/lib/api/http";

let contests: Contest[];

const pagination = 0;

const data = await get(
  `http://localhost:5212/user/contests/${pagination}`,
  Astro.cookies.get("session")?.value
);

contests = await data
  .json()
  .catch((e) => console.log("couldn't fetch list: ", e));
---

<div>
  <CreateContestForm client:load />

  <div>
    {
      contests
        ? contests.map((contest) => (
            <div>
              <LeaderBoard contestId={contest.id} />
            </div>
          ))
        : ""
    }
  </div>
</div>
