---
import Layout from "../../layouts/Layout.astro";
import background from "../../assets/background.svg";
import "@/styles/globals.css";
import LoginCard from "@/components/auth/LoginCard.vue";
---

<Layout>
  <img
    class="fixed top-0 left-0 w-screen h-full -z-10 blur-md"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main>
    <LoginCard client:load />
  </main>
</Layout>
