---
import type { Session } from "@auth/core/types";
import Layout from "../layouts/Layout.astro";
import { Auth, SignIn, SignOut } from "auth-astro/components";
import Dashboard from "../components/Dashboard.astro";
import background from "../assets/background.svg";
---

<Layout>
  <img
    class="fixed top-0 left-0 w-screen h-full -z-10 blur-md"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main>
    <Auth>
      {
        (session: Session) => {
          return (
            <>
              {session ? (
                <SignOut>Logout</SignOut>
              ) : (
                <SignIn provider="github">Login</SignIn>
              )}
              <p>
                {session
                  ? `Logged in as ${session.user?.name}`
                  : "Not logged in"}
              </p>
            </>
          );
        }
      }
    </Auth>

    <Dashboard />
  </main>
</Layout>
