---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../components/Dashboard.astro";
import background from "../assets/background.svg";
import "@/styles/globals.css";
import { user } from "@/lib/store/userStore";
import { Button } from "@/components/ui/button";
import LogoutButton from "@/components/auth/LogoutButton.vue";

const leaderBoardUser = user.get().user;

if(!leaderBoardUser){
  return Astro.redirect("/login")
}
---

<Layout>
  <img
    class="fixed top-0 left-0 w-screen h-full -z-10 blur-md"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main>
    {
      leaderBoardUser ? (
        <LogoutButton client:load/>
        <Dashboard />
      ) : (
        <a href="/login">
          <Button>Go to login</Button>
        </a>
      )
    }
  </main>
</Layout>
