---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../components/Dashboard.astro";
import background from "../assets/background.svg";
import "@/styles/globals.css";

const login = await fetch(
  "http://localhost:5212/login?useCookies=false&useSessionCookies=false",
  {
    method: "POST",
    body: JSON.stringify({
      email: "seb@gmail.com",
      password: "Dsadsa-1",
    }),
    headers: { "Content-Type": "application/json" },
    credentials: "include",
  }
);

const sessionData = await login
  .json()
  .catch((e) => console.log("Couldn't login: ", e));

Astro.locals.session = sessionData;
const today = new Date();
today.setMinutes(today.getHours() + (sessionData.expiresIn ?? 0));

Astro.cookies.set("session", sessionData.accessToken ?? "", {
  httpOnly: true,
  sameSite: "lax",
  secure: import.meta.env.PROD,
  expires: today,
  path: "/",
});

Astro.cookies.set("refresh", sessionData.refreshToken ?? "", {
  httpOnly: true,
  sameSite: "lax",
  secure: import.meta.env.PROD,
  expires: today,
  path: "/",
});
---

<Layout>
  <img
    class="fixed top-0 left-0 w-screen h-full -z-10 blur-md"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <main>
    <Dashboard />
  </main>
</Layout>
