---
import type { Contest } from "@/model/Contest.model";
import LeaderBoardTable from "./LeaderBoardTable.vue";
import { user } from "@/lib/store/userStore";
import { get } from "@/lib/api/http";

interface Props {
  contestId: string;
}

const { contestId } = Astro.props;

const contest: Contest = await get(
  `http://localhost:5212/contest/${contestId}`
).then((response) =>
  response.json().catch((e) => console.log("there was an error: ", e))
);
---

<div>
  <LeaderBoardTable contest={contest} user={user.get().user} client:load />
</div>
